<table class=MsoNormalTable border=1 cellspacing=3 cellpadding=0 width=1217
 style='width:800pt;mso-cellspacing:2.0pt;background:#DEEAF6;mso-shading:
 #DEEAF6;mso-shading-themecolor:accent1;mso-shading-themetint:51;mso-pattern:
 thin-diag-cross #DEEAF6;border-top:inset;border-left:inset;border-bottom:outset;
 border-right:outset;border-color:#1F4E79;border-width:6.0pt;mso-yfti-tbllook:
 1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:.75pt solid #1F4E79;
 mso-border-insideh-themecolor:accent1;mso-border-insideh-themeshade:128;
 mso-border-insidev:.75pt solid #1F4E79;mso-border-insidev-themecolor:accent1;
 mso-border-insidev-themeshade:128'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
  height:400pt'>
  <td width=1210 valign=top style='width:726.05pt;border:solid #1F4E79 1.0pt;
  mso-border-themecolor:accent1;mso-border-themeshade:128;mso-border-alt:solid #1F4E79 .75pt;
  mso-border-themecolor:accent1;mso-border-themeshade:128;padding:0cm 5.4pt 0cm 5.4pt;
  height:416.65pt'>
  <p class=MsoNormal align=center style='margin-top:48.0pt;text-align:center'><b
  style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:48.0pt;
  mso-bidi-font-size:36.0pt;font-family:"Cambria",serif;mso-bidi-font-family:
  Cambria;color:#9DC3E6;mso-themecolor:accent1;mso-themetint:153;mso-style-textfill-fill-color:
  #9DC3E6;mso-style-textfill-fill-themecolor:accent1;mso-style-textfill-fill-alpha:
  100.0%;mso-style-textfill-fill-colortransforms:"lumm=60000 lumo=40000";
  mso-style-textoutline-type:none;mso-style-textoutline-outlinestyle-dpiwidth:
  0pt;mso-style-textoutline-outlinestyle-linecap:flat;mso-style-textoutline-outlinestyle-join:
  round;mso-style-textoutline-outlinestyle-pctmiterlimit:0%;mso-style-textoutline-outlinestyle-dash:
  solid;mso-style-textoutline-outlinestyle-align:center;mso-style-textoutline-outlinestyle-compound:
  simple;mso-bevel-captop-bevelstyle:5;mso-bevel-captop-dpiwidth:5.0pt;
  mso-bevel-captop-dpiheight:1.0pt;mso-bevel-capbot-bevelstyle:0;mso-bevel-capbot-dpiwidth:
  0pt;mso-bevel-capbot-dpiheight:0pt;mso-bevel-material:5;mso-bevel-dpiextrusion:
  4.5pt;mso-bevel-colorcontour-color:#A6A6A6;mso-bevel-colorcontour-themecolor:
  background1;mso-bevel-colorcontour-alpha:100.0%;mso-bevel-colorcontour-colortransforms:
  lumm=65000;mso-bevel-dpicontour:0pt;mso-ansi-language:EN-US;mso-no-proof:
  yes'>CERTIFICATE</span></b><span lang=EN-US style='mso-ansi-language:EN-US'><u1:p></u1:p><o:p></o:p></span></p>
  <p class=MsoNormal align=center style='mso-margin-top-alt:auto;margin-right:
  -1.15pt;mso-margin-bottom-alt:auto;text-align:center'><span lang=EN-US
  style='mso-ansi-language:EN-US;mso-no-proof:yes'><u1:p>&nbsp;</u1:p></span><span
  lang=EN-US style='mso-ansi-language:EN-US'><o:p></o:p></span></p>
  <p class=MsoNormal align=center style='mso-margin-top-alt:auto;margin-right:
  .05pt;mso-margin-bottom-alt:auto;text-align:center'><b style='mso-bidi-font-weight:
  normal'><span lang=EN-US style='font-size:20.0pt;mso-bidi-font-size:28.0pt;
  color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
  #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
  100.0%;mso-style-textfill-fill-colortransforms:lumm=50000;mso-ansi-language:
  EN-US'>of completion of the quiz</span></b><span lang=EN-US style='mso-ansi-language:
  EN-US'><o:p></o:p></span></p>
  <p class=MsoNormal align=center style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
  auto;text-align:center'><b style='mso-bidi-font-weight:normal'><i
  style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:22.0pt;
  color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
  #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
  100.0%;mso-style-textfill-fill-colortransforms:lumm=50000;mso-ansi-language:
  EN-US'>&quot;<%= @quiz.title %>&quot;</span></i></b></p>
  <u1:p></u1:p>
  <p class=MsoNormal align=center style='mso-margin-top-alt:auto;margin-right:
  .05pt;mso-margin-bottom-alt:auto;text-align:center'><span class=SpellE><b
  style='mso-bidi-font-weight:normal'><span style='font-size:16.0pt;mso-bidi-font-size:
  22.0pt;color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
  #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
  100.0%;mso-style-textfill-fill-colortransforms:lumm=50000'>Earned <%= @participant.score %> of <%= @max_score %> points</span></b></span><o:p></o:p></p>
  <p class=MsoNormal align=center style='mso-margin-top-alt:auto;mso-margin-bottom-alt:
  auto;text-align:center'><b style='mso-bidi-font-weight:normal'><span
  style='font-size:9.0pt;mso-bidi-font-size:22.0pt;color:#203864;mso-themecolor:
  accent5;mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
  accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
  lumm=50000'><u1:p>&nbsp;</u1:p></span></b><o:p></o:p></p>
  <p class=MsoNormal align=center style='margin-right:.05pt;text-align:center'><b
  style='mso-bidi-font-weight:normal'><span style='font-size:28.0pt;mso-bidi-font-size:
  35.0pt;line-height:106%;font-family:"Times New Roman",serif;color:#203864;
  mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:#203864;
  mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
  100.0%;mso-style-textfill-fill-colortransforms:lumm=50000'><%= $user.name %><o:p></o:p></span></b></p>
  <p class=MsoNormal align=center style='margin-right:.05pt;text-align:center'><b
  style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'>
  <span style='font-size:16.0pt;mso-bidi-font-size:10.0pt;line-height:106%;
  font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
  mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
  accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
  lumm=50000'><%= $user.email %><o:p></o:p></span></i></b></p>
  <p class=MsoNormal align=center style='margin-top:0cm;margin-right:309.6pt;
  margin-bottom:20.0pt;margin-left:0cm;text-align:center'><b style='mso-bidi-font-weight:
  normal'><i style='mso-bidi-font-style:normal'><span style='font-size:16.0pt;
  mso-bidi-font-size:10.0pt;line-height:106%;font-family:"Times New Roman",serif;
  color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
  #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
  100.0%;mso-style-textfill-fill-colortransforms:lumm=50000'><o:p>&nbsp;</o:p></span></i></b></p>
  <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
   style='margin-left:72.0pt;border-collapse:collapse;border:none;mso-yfti-tbllook:
   1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:none;mso-border-insidev:
   none'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:18.75pt'>
    <td width=236 style='width:5.0cm;border:none;border-bottom:solid windowtext 1.0pt;
    mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:18.75pt'>
    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center'><b style='mso-bidi-font-weight:normal'><span
    lang=EN-US style='font-size:14.0pt;mso-bidi-font-size:9.0pt;line-height:
    106%;font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000;mso-ansi-language:EN-US'><%= @time %></span></b><b
    style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:10.0pt;line-height:106%;
    font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000'><o:p></o:p></span></i></b></p>
    </td>
    <td width=461 valign=top style='width:276.4pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:18.75pt'>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:309.6pt;
    margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b
    style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:10.0pt;line-height:106%;
    font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000'><o:p>&nbsp;</o:p></span></i></b></p>
    </td>
    <td width=225 style='width:134.7pt;border:none;border-bottom:solid windowtext 1.0pt;
    mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:18.75pt'>
    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center'><b style='mso-bidi-font-weight:normal'><i
    style='mso-bidi-font-style:normal'><span lang=EN-US style='font-size:14.0pt;
    mso-bidi-font-size:9.0pt;line-height:106%;font-family:"Times New Roman",serif;
    color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
    #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
    100.0%;mso-style-textfill-fill-colortransforms:lumm=50000;mso-ansi-language:
    EN-US'>D.Ramanouski</span></i></b><b style='mso-bidi-font-weight:normal'><i
    style='mso-bidi-font-style:normal'><span style='font-size:14.0pt;
    mso-bidi-font-size:10.0pt;line-height:106%;font-family:"Times New Roman",serif;
    color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
    #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
    100.0%;mso-style-textfill-fill-colortransforms:lumm=50000'><o:p></o:p></span></i></b></p>
    </td>
   </tr>
   <tr style='mso-yfti-irow:1'>
    <td width=236 valign=top style='width:5.0cm;border:none;mso-border-top-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:35.0pt;line-height:106%;
    font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000'>date</span></b><b style='mso-bidi-font-weight:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:10.0pt;line-height:106%;
    font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000'><o:p></o:p></span></b></p>
    </td>
    <td width=461 valign=top style='width:276.4pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:309.6pt;
    margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b
    style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:10.0pt;line-height:106%;
    font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000'><o:p>&nbsp;</o:p></span></i></b></p>
    </td>
    <td width=225 valign=top style='width:134.7pt;border:none;mso-border-top-alt:
    solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:35.0pt;line-height:106%;
    font-family:"Times New Roman",serif;color:#203864;mso-themecolor:accent5;
    mso-themeshade:128;mso-style-textfill-fill-color:#203864;mso-style-textfill-fill-themecolor:
    accent5;mso-style-textfill-fill-alpha:100.0%;mso-style-textfill-fill-colortransforms:
    lumm=50000'>signature</span></b><b style='mso-bidi-font-weight:normal'><i
    style='mso-bidi-font-style:normal'><span style='font-size:14.0pt;
    mso-bidi-font-size:10.0pt;line-height:106%;font-family:"Times New Roman",serif;
    color:#203864;mso-themecolor:accent5;mso-themeshade:128;mso-style-textfill-fill-color:
    #203864;mso-style-textfill-fill-themecolor:accent5;mso-style-textfill-fill-alpha:
    100.0%;mso-style-textfill-fill-colortransforms:lumm=50000'><o:p></o:p></span></i></b></p>
    </td></tr>
   <tr style='mso-yfti-irow:2;mso-yfti-lastrow:yes'>
    <td width=236 valign=top style='width:5.0cm;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:35.0pt;line-height:106%;
    font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></b></p>
    </td>
    <td width=461 valign=top style='width:276.4pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-top:0cm;margin-right:309.6pt;
    margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b
    style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:10.0pt;line-height:106%;
    font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></i></b></p>
    </td>
    <td width=225 valign=top style='width:134.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
    <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:
    .0001pt;text-align:center'><b style='mso-bidi-font-weight:normal'><span
    style='font-size:14.0pt;mso-bidi-font-size:35.0pt;line-height:106%;
    font-family:"Times New Roman",serif'><o:p>&nbsp;</o:p></span></b></p>
    </td>
   </tr>
  </table>
  <span style='font-size:12.0pt;font-family:"Times New Roman",serif;mso-fareast-font-family:
  "Times New Roman";mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
  AR-SA'><u1:p></u1:p></span></td>
 </tr>
</table>
