<%= form_with(scope: :session, url: login_path) do |f| %>
 
<p class="form-group">
  <%= f.label :email, :class => 'form-label' %>
  <%= f.email_field :email, class: "form-control" %>
</p>
 
<p class="form-group">
  <%= f.label :password, :class => 'form-label' %>
  <%= f.password_field :password, class: "form-control" %>
</p>
 
<p class="form-group">
  <%= f.submit "Log in", class: "btn btn-primary" %>
  <%= link_to "Sign up", '/signup', :class => 'btn btn-warning' %>
</p>
 
<% end %>
